{% extends "layout.html" %}

{% block body %}
    <h1>Categories</h1>

    <form action="/categories" method="post">
        <input name="name" type="text" placeholder="Category name" autocomplete="off">
        <button type="submit">Add Category</button>
    </form>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>{{category.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories yet.</p>
    {% endif %}
{% endblock %}